3rdParty/*
!3rdParty/CMakeLists.txt
build/*
bomberman*
bomberman.dmg
imgui.ini

# Editors trash
.vscode
.vs/

# CMake trash
CMakeFiles/
CMakeCache.txt

#idea
*cmake-build*
*.idea*

.vscode/*
.DS_Store
